<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论功能</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div id="app">
		<com-temp @func="loadComments"></com-temp>		
		<ul class="list-group">
	      <li class="list-group-item" v-for="item in list" :key="item.id">
	        {{ item.content }}
	        <span class="badge">评论人： {{ item.user }}</span>
	      </li>
	    </ul>
	</div>
	<template id="temp">
		<div>
			<div class="form-group">
				<label for="">评论人：</label>
				<input type="text" class="form-control" v-model="user">
			</div>
			<div class="form-group">
				<label for="">评论内容：</label>
				<textarea name="" class="form-control" v-model="content"></textarea>
			</div>
			<div class="form-group">
				<input type="button" class="btn btn-success" value="提交"  @click="postComment">
			</div>
			<div class="alert alert-success" role="alert" v-show="is_success">评论成功！</div>
		</div>
	</template>
<script src="../vue.js/vue.min.js"></script>	
<script>
	var components = {
		template: "#temp",
		data(){
			return {
				user:"",
				content:"",
				is_success: false
			}
		},
		methods:{
			postComment(){
				var comment = {id:Date.now(),user:this.user,content:this.content};
				var list = JSON.parse(localStorage.getItem('comments') || '[]');
				list.push(comment);
				localStorage.setItem('comments',JSON.stringify(list));
				this.user = this.content = "";
				this.is_success = true;
				let _this = this;
				setTimeout(function(){_this.is_success = false;},500);
				this.$emit("func");
			},

		}
	};
	new Vue({
		el:"#ap1p",
		data:{
			list:[
                {id:Date.now(),user:"李百度",content:"天生我材必有用"},
                {id:Date.now(),user:"鲁班",content:"班门弄斧"},
                {id:Date.now(),user:"张建军",content:"这是柠檬黄"},
			]
		},
		components:{
			"comTemp":components
		},
		methods:{
			loadComments(){
				var list = JSON.parse(localStorage.getItem("comments") || '[]');
				this.list = list;
			}
		},
		created(){
			this.loadComments();
		}
	});
</script>
</body>
</html>